VITE_CLIENT_VERSION=1000.0.0 # Will always be higher than the server version so no need to update
VITE_BACKEND_URL=http://localhost:8000/api
VITE_APP_SOCKET_URL=http://localhost:8000
VITE_IOT_SOCKET_URL=wss://alivecode.ca/iotgateway/
